<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="https://glittery-pika-7c2a99.netlify.app/img/favicon.jpg">
    <link rel="icon" type="image/png" href="https://glittery-pika-7c2a99.netlify.app/img/favicon.jpg">
    <title>
        Keep News
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="https://glittery-pika-7c2a99.netlify.app/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="https://glittery-pika-7c2a99.netlify.app/css/blk-design-system.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="https://glittery-pika-7c2a99.netlify.app/demo/demo.css" rel="stylesheet" />
    </head>
    <style>
        body::-webkit-scrollbar{display: none;}body {-ms-overflow-style: none;scrollbar-width: none;}
    </style>
    <body class="index-page profile-page" style="overflow-x: hidden;-ms-overflow-style: none; scrollbar-width: none;">
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Keep News•</h1>
                <h3>Are You Lost ?</h3>
                <a href="/">
                    <button class="btn btn-success" >
                        Return Home
                    </button>
                </a>
            </div>
        </div>
    </div>
    </div>
    <!--   Core JS Files   -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/popper.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/chartjs.min.js"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/moment.min.js"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
    <script src=".https://glittery-pika-7c2a99.netlify.app/demo/demo.js"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/blk-design-system.min.js" type="text/javascript"></script>
</body>

</html>
