<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="https://glittery-pika-7c2a99.netlify.app/img/favicon.jpg">
    <link rel="icon" type="image/png" href="https://glittery-pika-7c2a99.netlify.app/img/favicon.jpg">
    <title>
        Keep News 2.0
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="https://glittery-pika-7c2a99.netlify.app/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="https://glittery-pika-7c2a99.netlify.app/css/blk-design-system.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="https://glittery-pika-7c2a99.netlify.app/demo/demo.css" rel="stylesheet" />
    </head>
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: #171941; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
    </style>
    <body class="index-page profile-page" style="overflow-x: hidden;-ms-overflow-style: none; scrollbar-width: none;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip" title="Designed and Coded by Rabah Djebbes" data-placement="bottom">
            <span>Keep News <small> 2•0</small></span>
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
            <div class="row">
                <div class="col-6 collapse-brand">
                <a>
                    Keep News <small>2•0</small>
                </a>
                </div>
                <div class="col-6 collapse-close text-right">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                </div>
            </div>
            </div>
            <ul class="navbar-nav">
            <li class="nav-item p-0">
                <a class="nav-link" rel="tooltip" title="Check My Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/rabahdjebbes/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <p class="d-lg-none d-xl-none">Linkedin</p>
                </a>
            </li>
            <li class="nav-item p-0">
                <a class="nav-link" rel="tooltip" title="Check My Github" data-placement="bottom" href="https://github.com/rabahdj2002" target="_blank">
                <i class="fab fa-github-square"></i>
                <p class="d-lg-none d-xl-none">Github</p>
                </a>
            </li>
            <li class="nav-item p-0">
                <a class="nav-link" rel="tooltip" title="Check My Portfolio" data-placement="bottom" href="https://rabahdjebbes.me/" target="_blank">
                    <i class="far fa-user"></i>
                <p class="d-lg-none d-xl-none">Portfolio</p>
                </a>
            </li>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="fa fa-cogs d-lg-none d-xl-none"></i> Menu
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                <a href="/aboutus/" class="dropdown-item">
                    <i class="tim-icons icon-bullet-list-67"></i>About Us
                </a>
                <a href="mailto:rabahwork@gmail.com" class="dropdown-item">
                    <i class="tim-icons icon-image-02"></i>Contact Us
                </a>
                </div>
            </li>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                Subscribe
            </button>
            </ul>
        </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Keep News <small>2.0</small></h1>
                <h3>Stay Up To Date With The Russia-Ukraine Conflict</h3><!--An Automatic News Delivery System-->
                {% if messages %}
                    {% for message in messages %}
                        <h4 class="alert alert-success ">{{message}}</h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

        <div class="container">
            <h1 class="h1-seo">• Today's World News :</h1>
        </div>
        
        
        <div class="wrapper">
            {% for article in news %}
            <div class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img class="d-block" src="{{article.urlToImage}}" alt="First slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-5">
                        <h4 class="profile-title text-left">"{{article.title}}"</h4>
                        <h5 class="text-on-back">{{ forloop.counter }}</h5>
                        <p class="profile-description text-left">{{article.description}}</p>
                        <div class="btn-wrapper pt-3">
                        <!--<button href="javascript:void(0)" class="btn btn-simple btn-primary">
                            <i class="tim-icons icon-book-bookmark"></i> Send In Mail
                        </button>-->
                        <a href="{{ article.url }}" target="_balnk">
                            <button href="javascript:void(0)" class="btn btn-simple btn-info">
                                <i class="tim-icons icon-bulb-63"></i> Read Now
                            </button>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Sart Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center  class="form-group"">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h4 class="title title-up">Subscribe To Our System</h4>
                    </div>
                    <form id="login-form" method="post" action="">
                        {% csrf_token %}
                        <div class="modal-body form-group">
                            <input type="email" name="email" placeholder="Ex : Rabahwork@gmail.com" class="form-control form-control-success text-dark" required/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--  End Modal -->
        <footer class="footer">
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                <h1 class="title">Keep News•</h1>
                <h3 class="title">Follow Me:</h3>
                <div class="btn-wrapper profile">
                <a target="_blank" href="https://www.linkedin.com/in/rabahdjebbes/" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/rabahdj2002" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Github">
                    <i class="fab fa-github"></i>
                </a>
                <a target="_blank" href="https://rabahdjebbes.me/" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Portfolio">
                    <i class="far fa-user"></i>
                </a>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                    Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/aboutus/" class="nav-link">
                    About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a href="mailto:rabahwork@gmail.com" target="_balnk" class="nav-link">
                    Contact Us
                    </a>
                </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="nav">
                <li class="nav-item">
                    <h4>Get Started With Our Amazing Automated News Delivery System By Subscribing To Our Newsletter To Recieve Exclusive News And Events That Concern The Russia-Ukraine Conflict.</h4>
                    <button class="btn btn-success col-12" data-toggle="modal" data-target="#myModal">
                        Subscribe
                    </button>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/popper.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/chartjs.min.js"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/moment.min.js"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
    <script src="https://glittery-pika-7c2a99.netlify.app/demo/demo.js"></script>
    <script src="https://glittery-pika-7c2a99.netlify.app/js/blk-design-system.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            $('#login-form').disableAutoFill();
        });
    </script>
</body>

</html>
