{% extends 'backend/base.html' %}

{% block title %}News - KN2.0{% endblock %}

{% block contect %}
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Subscribers Emails List :</h5>
      <div class="table-responsive text-nowrap">
        {% if emails %}
          <table class="table pb-5">
            <thead>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Emails Sent</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for email in emails %}
              <tr>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ email.id }}</strong></td>
                <td>{{ email.email }}</td>
                <td><span class="badge bg-label-primary me-1">{{ email.sent }}</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/admin/emails/send/{{ email.id }}/"><i class="bx bx-edit-alt me-1"></i> Send Mail</a>
                      <a class="dropdown-item" href="/admin/emails/delete/{{ email.id }}/"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h6 class="card-header">No Email Was Found!</h6>
        {% endif %}
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />
    <!--/ Responsive Table -->
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>
{% endblock %}